@media only screen and (min-width:1920px) {
    .mission {
        padding-bottom: 150px;
    }

    .mission__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 80px;
    }

    .mission_text-container {
        display: flex;
        padding-right: 300px;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        align-self: stretch;
    }

    .mission_text-container h1 {
        color: var(--green-60);
        font-size: 48px;
        font-weight: 400;
        line-height: 150%; 
    }
    .mission_text-container p {
        color: var(--grey-70);
        font-size: 18px;
        font-weight: 300;
        line-height: 150%; 
    }

    .mission__sub-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: -100px;
        align-self: stretch;
    }

    .mission__row {
        display: flex;
        align-items: center;
        align-self: stretch;
    }

    .mission__image-container {
        display: flex;
        width: 664px;
        height: 621px;
        padding: 60px 60px 0px 60px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        border-radius: 50px 50px 20px 20px;
        border: 1px solid var(--grey-15);
        background-blend-mode: normal, normal, screen;
    }

    .mission__image-container img {
        flex: 1 0 0;
        align-self: stretch;
        max-width: 544px;
        max-height: 561px;
        border-radius: 50px 50px 0px 0px;
    }

    .mission_sub-container-text {
        display: flex;
        padding-left: 50px;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        flex: 1 0 0;

        border-left: 1px solid var(--green-60);
    }

    .mission_sub-container-text:first-child {
        border-left: none;
        border-right: 1px solid var(--green-60);
    }

    .mission_sub-container-text h1 {
        color: var(--absolute-white);
        font-size: 38px;
        font-weight: 500;
        line-height: 150%; 
    }

    .mission_sub-container-text p {
        color: var(--grey-70);
        font-size: 18px;
        font-weight: 300;
        line-height: 150%; 
    }
}

@media only screen and (min-width:1440px) and (max-width: 1939px) {
    .mission {
        padding-bottom: 120px;
    }

    .mission__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 60px;
    }

    .mission_text-container {
        display: flex;
        padding-right: 150px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

    .mission_text-container h1 {
        color: var(--green-60);
        font-size: 38px;
        font-weight: 400;
        line-height: 150%; 
    }
    .mission_text-container p {
        color: var(--grey-70);
        font-size: 16px;
        font-weight: 300;
        line-height: 150%; 
    }

    .mission__sub-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: -80px;
        align-self: stretch;
    }

    .mission__row {
        display: flex;
        align-items: center;
        align-self: stretch;
    }

    .mission__image-container {
        display: flex;
        width: 545px;
        height: 500px;
        padding: 60px 60px 0px 60px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        border-radius: 50px 50px 20px 20px;
        border: 1px solid var(--grey-15);
        background-blend-mode: normal, normal, screen;
    }

    .mission__image-container img {
        flex: 1 0 0;
        align-self: stretch;
        max-width: 425px;
        max-height: 440px;
        border-radius: 50px 50px 0px 0px;
    }

    .mission_sub-container-text {
        display: flex;
        padding-left: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex: 1 0 0;

        border-left: 1px solid var(--green-60);
    }

    .mission_sub-container-text:first-child {
        border-left: none;
        border-right: 1px solid var(--green-60);
    }

    .mission_sub-container-text h1 {
        color: var(--absolute-white);
        font-size: 32px;
        font-weight: 500;
        line-height: 150%; 
    }

    .mission_sub-container-text p {
        color: var(--grey-70);
        font-size: 16px;
        font-weight: 300;
        line-height: 150%; 
    }
}

@media only screen and (max-width:1439px) {
    .mission {
        padding-bottom: 80px;
    }

    .mission__container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 60px;
    }

    .mission_text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        align-self: stretch;
    }

    .mission_text-container h1 {
        text-align: center;
        color: var(--green-60);
        font-size: 28px;
        font-weight: 400;
        line-height: 150%; 
    }
    .mission_text-container p {
        text-align: center;
        text-align: center;
        color: var(--grey-70);
        font-size: 14px;
        font-weight: 300;
        line-height: 150%; 
    }

    .mission__sub-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        align-self: stretch;
    }

    .mission__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    .mission__image-container {
        display: flex;
        padding: 20px 20px 0px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        border-radius: 50px 50px 0px 0px;
        border: 1px solid var(--grey-15);
        background-blend-mode: normal, normal, screen;
    }

    .mission__image-container img {
        flex: 1 0 0;
        align-self: stretch;
        max-height: 309px;
        border-radius: 50px 50px 0px 0px;
    }

    .mission_sub-container-text {
        display: flex;
        padding-left: 30px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;

        border-top: 1px solid var(--green-60);
    }


    .mission_sub-container-text h1 {
        color: var(--absolute-white);
        font-size: 26px;
        font-weight: 500;
        line-height: 150%; 
    }

    .mission_sub-container-text p {
        text-align: center;
        color: var(--grey-70);
        font-size: 14px;
        font-weight: 300;
        line-height: 150%; 
    }
}