@media only screen and (min-width: 1920px) {
    .testimonials__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 100px;
        padding-bottom: 150px;
    }
    
    .testimonials__info-container {
        display: flex;
        align-items: flex-end;
        gap: 300px;
        align-self: stretch;
    }
    
    .testimonials__text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        flex: 1 0 0;
    }
    
    .testimonials__text-container h1 {
        color: var(--absolute-white);
        font-size: 48px;
        font-weight: 500;
        line-height: 150%; 
    }
    
    .testimonials__text-container span {
        color: var(--green-60);
    }
    
    .testimonials__text-container p {
        color: var(--grey-70);
        font-size: 18px;
        font-weight: 300;
        line-height: 150%; 
    }
    
    
    .testimonials__tabs {
        display: flex;
        padding: 14px;
        align-items: flex-start;
    
        border-radius: 82px;
        border: 1px solid var(--grey-15);
        background: var(--grey-11);
    }
    
    .testimonials__button-individuals {
        cursor: pointer;
        display: flex;
        padding: 14px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        border-radius: 140px;
        background: var(--grey-11);
        color: var(--absolute-white);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%; 
    }
    
    .testimonials__button-businesses {
        cursor: pointer;
        border: none;
        display: flex;
        padding: 14px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        border-radius: 140px;
        background: var(--grey-11);
    
        color: var(--absolute-white);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }

    .testimonials__button-individuals.active {
        background: var(--green-60);
        color: var(--grey-11);
    }
    
    .testimonials__button-businesses.active {
        background: var(--green-60);
        color: var(--grey-11);
        
    }
    
    .testimonials__slider{
        position: relative;
        display: flex;
        align-items: center;
        gap: 50px;
        align-self: stretch;
    }
    
    .testimonials__button {
        cursor: pointer;
        display: flex;
        padding: 14px;
        align-items: flex-start;
        gap: 10px;
    
        border-radius: 100px;
        border: 1px solid var(--grey-15);
        background: var(--grey-11);
        z-index: 1;
    }
    
    .testimonials__item-container {
        
        display: flex;
        align-items: flex-start;
        gap: 80px;
        flex: 1 0 0;
        
    }
    
    .testimonials__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        flex: 1 0 0;
    }
    
    .testimonials__card-images {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;
    }
    
    .item__line {
        width: 152px;
        height: 1px;
        background: #262626;
    }
    
    .testimonials__card p {
        color: var(--absolute-white);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }
    
    .testimonials__card span {
        color: var(--green-60);
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%; 
    }
    
    
    
    
    .testimonials__fadeoutleft {
        width: 556px;
        height: 349px;
    
        position: absolute;
        top: -14px;
    
        background: linear-gradient(270deg, rgba(25, 25, 25, 0.00) 0%, #191919 105.84%);
    }
    
    .testimonials__fadeouright {
        width: 480px;
        height: 349px;
    
        position: absolute;
        right: 1px;
        top: -14px;
    
        background: linear-gradient(270deg, #191919 10.8%, rgba(25, 25, 25, 0.00) 105.84%);
    }
}

@media only screen and (min-width:1440px) and (max-width:1919px) {
    .testimonials__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 80px;
        padding-bottom: 120px;
    }
    
    .testimonials__info-container {
        display: flex;
        align-items: flex-end;
        gap: 150px;
        align-self: stretch;
    }
    
    .testimonials__text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        flex: 1 0 0;
    }
    
    .testimonials__text-container h1 {
        color: var(--absolute-white);
        font-size: 38px;
        font-weight: 500;
        line-height: 150%; 
    }
    
    .testimonials__text-container span {
        color: var(--green-60);
    }
    
    .testimonials__text-container p {
        color: var(--grey-70);
        font-size: 14px;
        font-weight: 300;
        line-height: 150%; 
    }
    
    .testimonials__tabs {
        display: flex;
        padding: 12px;
        align-items: flex-start;
    
        border-radius: 82px;
        border: 1px solid var(--grey-15);
        background: var(--grey-11);
    }
    
    .testimonials__button-individuals {
        cursor: pointer;
        display: flex;
        padding: 14px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        border-radius: 140px;
        background: var(--grey-11);
        color: var(--absolute-white);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%; 
    }
    
    .testimonials__button-businesses {
        cursor: pointer;
        border: none;
        display: flex;
        padding: 14px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        border-radius: 140px;
        background: var(--grey-11);
    
        color: var(--absolute-white);
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }

    .testimonials__button-individuals.active {
        background: var(--green-60);
        color: var(--grey-11);
    }
    
    .testimonials__button-businesses.active {
        background: var(--green-60);
        color: var(--grey-11);
        
    }
    
    .testimonials__slider{
        position: relative;
        display: flex;
        align-items: center;
        gap: 40px;
        align-self: stretch;
    }
    
    .testimonials__button {
        cursor: pointer;
        display: flex;
        padding: 12px;
        align-items: flex-start;
        gap: 10px;
    
        border-radius: 100px;
        border: 1px solid var(--grey-15);
        background: var(--grey-11);
        z-index: 1;
    }
    
    .testimonials__item-container {
        display: flex;
        align-items: flex-start;
        gap: 60px;
        flex: 1 0 0;
    }
    
    .testimonials__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        flex: 1 0 0;
    }
    
    .testimonials__card-images {
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
    }
    
    .item__line {
        width: 124px;
        height: 1px;
        background: #262626;
    }
    
    .testimonials__card p {
        color: var(--absolute-white);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
    }
    
    .testimonials__card span {
        color: var(--green-60);
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%; 
    }
    
    
    
    
    .testimonials__fadeoutleft {
        width: 398px;
        height: 291px;
    
        position: absolute;
        top: -13px;
    
        background: linear-gradient(270deg, rgba(25, 25, 25, 0.00) 0%, #191919 105.84%);
    }
    
    .testimonials__fadeouright {
        width: 358px;
        height: 291px;
    
        position: absolute;
        right: 1px;
        top: -10px;
    
        background: linear-gradient(270deg, #191919 10.8%, rgba(25, 25, 25, 0.00) 105.84%);
    }
}

@media only screen and (max-width: 1439px) {
    .testimonials__container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 80px;
        padding-bottom: 120px;
    }
    
    .testimonials__info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
        align-self: stretch;
    }
    
    .testimonials__text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
    }
    
    .testimonials__text-container h1 {
        
        color: var(--absolute-white);
        font-size: 28px;
        font-weight: 500;
        line-height: 150%; 
    }
    
    .testimonials__text-container span {
        color: var(--green-60);
    }
    
    .testimonials__text-container p {
        text-align: center;
        color: var(--grey-70);
        font-size: 14px;
        font-weight: 300;
        line-height: 150%; 
    }
    
    .testimonials__tabs {
        display: flex;
        padding: 12px;
        
        margin: 0 auto;
        border-radius: 82px;
        border: 1px solid var(--grey-15);
        background: var(--grey-11);
    }
    
    .testimonials__button-individuals {
        cursor: pointer;
        display: flex;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        border-radius: 140px;
        background: var(--grey-11);
        color: var(--absolute-white);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%; 
    }
    
    .testimonials__button-businesses {
        cursor: pointer;
        border: none;
        display: flex;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        border-radius: 140px;
        background: var(--grey-11);
    
        color: var(--absolute-white);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
    }

    .testimonials__button-individuals.active {
        background: var(--green-60);
        color: var(--grey-11);
    }
    
    .testimonials__button-businesses.active {
        background: var(--green-60);
        color: var(--grey-11);
        
    }
    
    .testimonials__slider{
        overflow-x: auto;
        position: relative;
        display: flex;
        align-items: center;
        gap: 40px;
        align-self: stretch;
    }
    
    .testimonials__button {
        
        cursor: pointer;
        display: none;
        padding: 12px;
        align-items: flex-start;
        gap: 10px;
    
        border-radius: 100px;
        border: 1px solid var(--grey-15);
        background: var(--grey-11);
        z-index: 1;
    }
    
    .testimonials__item-container {
        
        
        display: flex;
        align-items: flex-start;
        gap: 60px;
        flex: 1 0 0;
    }
    
    .testimonials__card {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        flex: 1 0 0;
    }

    
    
    .testimonials__card-images {
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: stretch;
    }

    
    
    .item__line {
        width: 124px;
        height: 1px;
        background: #262626;
    }
    
    .testimonials__card p {
        color: var(--absolute-white);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
    }
    
    .testimonials__card span {
        color: var(--green-60);
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 150%; 
    }
    
    
    
    
    .testimonials__fadeoutleft {
        display: none;
        width: 398px;
        height: 291px;
    
        position: absolute;
        top: -13px;
    
        background: linear-gradient(270deg, rgba(25, 25, 25, 0.00) 0%, #191919 105.84%);
    }
    
    .testimonials__fadeouright {
        display: none;

        width: 358px;
        height: 291px;
    
        position: absolute;
        right: 1px;
        top: -10px;
    
        background: linear-gradient(270deg, #191919 10.8%, rgba(25, 25, 25, 0.00) 105.84%);
    }
}
