:root {
    --absolute-white:  #fff;
    --absolute-black: #000;

    --green-60: #CAFF33;
    --green-65: #D1FF4D;
    --green-70: #D8FF66;
    --green-80: #E5FF99;
    --green-90: #F2FFCC;
    --green-95: #F8FFE5;
    --green-97: #FBFFF0;
    --green-99: #FEFFFA;

    --white-90: #E4E4E7;
    --white-95: #F1F1F3;
    --white-97: #F7F7F8;
    --white-99: #FCFCFD;

    --grey-10: #191919;
    --grey-11: #1C1C1C;
    --grey-15: #262626;
    --grey-20: #333333;
    --grey-30: #4C4C4D;
    --grey-35: #59595A;
    --grey-40: #656567;
    --grey-60: #98989A;
    --grey-70: #B3B3B3;
    --grey-75: #BFBFBF;

}


body {
    font-family: 'Lexend', sans-serif;
    background: var(--grey-10);
}

a {
    text-decoration: none;
}

@media only screen and (min-width: 1920px) {
    .container {
        max-width:1600px;
        margin: 0 auto;
        padding: 0 30px;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
    .container {
        max-width:1280px;
        margin: 0 auto;
        padding: 0 30px;
    }
}

@media only screen and (max-width:1439px) {
    .container {
        max-width:1439px;
        margin: 0 auto;
        padding: 0 10px;
    }
}