.products {
    padding-top: 250px;
    padding-bottom: 150px;
}

.products__subcontainer-info {
    display: flex;
    align-items: flex-end;
    gap: 300px;
}

.products__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}

.products__text-container h1 {
    color: var(--absolute-white);
    font-size: 48px;
    font-weight: 500;
    line-height: 150%; 
}

.products__text-container span {
    color: var(--green-60);
    font-size: 48px;
    font-weight: 500;
    line-height: 150%;
}

.products__text-container p {
    color: var(--grey-70);
    font-size: 18px;
    font-weight: 300;
    line-height: 150%; 
}

.products__tabs {
    text-wrap: nowrap;
    display: flex;
    padding: 14px;
    align-items: flex-start;

    border-radius: 82px;
    border: 1px solid var(--grey-15);
    background: var(--grey-11);
}

.products__button-individuals {
    cursor: pointer;
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 140px;
    background: var(--green-60);

    color: var(--grey-11);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%; 
}

.products__button-businesses {
    cursor: pointer;
    border: none;
    display: flex;
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 140px;
    background: var(--grey-11);

    color: var(--absolute-white);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.products__subcontainer-subinfo {
    padding-top: 100px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
}

.products__subcontainer-icon {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 70px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0.00) 100%);
}

.product-info img {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 70px;
    background: linear-gradient(180deg, rgba(202, 255, 51, 0.05) 0%, rgba(202, 255, 51, 0.00) 100%);
}

.products__subcontainer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.products__subcontainer-text h1 {
    color: var(--absolute-white);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%; 
}

.products__subcontainer-text p {
    color: var(--grey-70);
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 150%; 
}


